<html>
<body>
<h2>登陆首页</h2>

<div class="div_login">
    <form action="login.htm" method="post">
    <div>
        <label>用户名：</label><input type="text" name="name" alt="请输入用户名称"/>
    </div>
    <div>
        <label>用户密码：</label><input type="password" name="password" alt="请输入密码"/>
    </div>
        <div>
            <input type="submit" value="登陆"/>
        </div>
    </form>
</div>
</body>
</html>
